name: Build
on:
  push:
    branches:
     - master
  pull_request:
    branches:
     - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-latest, windows-latest]
        sm_version: [sm1.11, sm1.12, smlatest]
        include:
          - os: windows-latest
            os_short: win
            compiler_cc: msvc
            dbgopt: 
          - os: ubuntu-latest
            os_short: linux
            compiler_cc: clang
            compiler_cxx: clang++
            dbgopt: --enable-debug
          - os: ubuntu-22.04
            os_short: oldlinux
            compiler_cc: clang-14
            compiler_cxx: clang++-14
            dbgopt: --enable-debug
          
          - sm_version: sm1.11
            sm_branch: 1.11-dev
            mm_branch: 1.10-dev
            hl2sdk_manifest_prepare: true
          - sm_version: sm1.12
            sm_branch: 1.12-dev
            mm_branch: 1.12-dev
            hl2sdk_manifest_prepare: false
          - sm_version: smlatest
            sm_branch: master
            mm_branch: 1.12-dev
            hl2sdk_manifest_prepare: false
            
      fail-fast: false

    name: Build ${{ matrix.os_short }}-${{ matrix.sm_version }}
    runs-on: ${{ matrix.os }}
    env:
      SDKS: '["l4d","l4d2"]'

    steps:
      - name: Setup Environment
        shell: bash
        run: |
          echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV
          
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y g++-multilib ${{ matrix.compiler_cc }}

      - name: Select clang compiler
        if: runner.os == 'Linux'
        run: |
          echo "CC=${{ matrix.compiler_cc }}" >> $GITHUB_ENV
          echo "CXX=${{ matrix.compiler_cxx }}" >> $GITHUB_ENV
          ${{ matrix.compiler_cc }} --version
          ${{ matrix.compiler_cxx }} --version
  
      - name: Add msbuild to PATH
        if: runner.os == 'Windows'
        uses: microsoft/setup-msbuild@v2
        
      - name: Install Windows Dependencies
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          :: See https://github.com/microsoft/vswhere/wiki/Find-VC
          for /f "usebackq delims=*" %%i in (`vswhere -latest -property installationPath`) do (
            call "%%i"\Common7\Tools\vsdevcmd.bat -arch=x86 -host_arch=x64
          )
          
          :: Loop over all environment variables and make them global.
          for /f "delims== tokens=1,2" %%a in ('set') do (
            echo>>"%GITHUB_ENV%" %%a=%%b
          )
            
      - uses: actions/setup-python@v5
        name: Setup Python 3.12
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
  
      - name: Prepare Alliedmodders Directory
        shell: bash
        run: |
          mkdir alliedmodders

      - name: Install AMBuild
        working-directory: alliedmodders
        run: |
          git clone https://github.com/alliedmodders/ambuild
          pip install ./ambuild

      - name: Prepare Sourcemod
        working-directory: alliedmodders
        run: |
          git clone --recursive https://github.com/alliedmodders/sourcemod sourcemod -b ${{ matrix.sm_branch }}

      - name: Setup HL2SDK Manifest Environment
        if: ${{ !matrix.hl2sdk_manifest_prepare }}
        shell: bash
        run: |
          echo "HL2SDKMANIFEST=${{ github.workspace }}/alliedmodders/sourcemod/hl2sdk-manifests" >> $GITHUB_ENV

      - name: Prepare HL2SDK Manifest
        working-directory: alliedmodders
        if: matrix.hl2sdk_manifest_prepare
        shell: bash
        run: |
          git clone https://github.com/alliedmodders/hl2sdk-manifests hl2sdk-manifests
          echo "HL2SDKMANIFEST=${{ github.workspace }}/alliedmodders/hl2sdk-manifests" >> $GITHUB_ENV

      - name: Prepare L4D SDK
        working-directory: alliedmodders
        run: |
          git clone --mirror https://github.com/alliedmodders/hl2sdk hl2sdk-proxy-repo
          git clone hl2sdk-proxy-repo hl2sdk-l4d2 -b l4d2
          git clone hl2sdk-proxy-repo hl2sdk-l4d -b l4d
          
      - name: Prepare Metamod Source
        working-directory: alliedmodders
        run: |
          git clone https://github.com/alliedmodders/metamod-source metamod-source -b ${{ matrix.mm_branch }}

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: src
  
      - name: Run AMBuild
        working-directory: src
        shell: bash
        run: |
          mkdir build
          cd build
          python ../configure.py \
            --hl2sdk-root="${{ github.workspace }}/alliedmodders" \
            --sm-path="${{ github.workspace }}/alliedmodders/sourcemod" \
            --mms-path="${{ github.workspace }}/alliedmodders/metamod-source" \
            --sdks=${{ join(fromJSON(env.SDKS)) }} \
            --enable-optimize \
            ${{ matrix.dbgopt }}
          ambuild

      - name: Upload Binary (Package)
        uses: actions/upload-artifact@v4
        with:
          name: sendproxy-${{ matrix.os_short }}-${{ matrix.sm_branch }}-${{ env.GITHUB_SHA_SHORT }}
          path: src/build/package
